html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
li{
    display: inline;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-3deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(3deg); }
    50% { transform: translate(-1px, 2px) rotate(-3deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-3deg); }
    80% { transform: translate(-1px, -1px) rotate(3deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-3deg); }
}
@keyframes zoom {
    from {
		transform: scale(1%, 1%);
	}

	30% {
		transform: scale(14%,10%);
	}

	40% {
		transform: scale(30%, 25%);
	}

	50% {
		transform: scale(45%,40%);
	}

	65% {
		transform: scale(60%,45%);
	}

	75% {
		transform: scale(70%, 45%);
	}

	to {
		transform: scale(100%,100%);
	}
}
@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card  {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transition-duration: 0.5s;
    animation: shake 0.5s;
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}
 .deck .card.unmatch{
    background: #d41f38;
    color:white;
    font-size: 33px;
    animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}
.disable{
    pointer-events: none;
	opacity: 1;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
.timer{
    list-style: none;
    display: inline-block;
}
/*winner model*/
.overlay {
    position: fixed;
    display: block;
    text-align: center;
	background: #aca3a3;
	transition: opacity 500ms;
	visibility: hidden;
    opacity: 0;
    width:90%;
    height:100%;
    -webkit-box-shadow: -2px 3px 53px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: -2px 3px 53px 0px rgba(0,0,0,0.63);
    box-shadow: -2px 3px 53px 0px rgba(0,0,0,0.63);;
    display: inline-block;
    position: absolute;
    
}
.popup{
    
    left: 5%;
    top: 10%;
    bottom: 10%;
    right: 5%;
    opacity: 1;
    width: 100%;
    text-align: center;
    
}


.playAgain{
    background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Arial', cursive;
	color: #ffffff;
	border-radius: 5px;
}
.endTime {
    opacity:0.7;
}
/* media queries*/
@media(min-width: 768px){
    .container {
		font-size: 22px;
	}

	.deck {
		width: 660px;
		height: 680px;
	}

	.deck .card {
		height: 125px;
		width: 125px;
    }
    .popup{
        top:20%;
        bottom: 20%;
        padding: 20%;
        background: #aca3a3;
    }
}
@media (max-width: 320px) {
	.deck {
		width: 85%;
	}

	.deck .card {
		height: 4.7rem;
		width: 4.7rem;
    }
    .popup{
        top:10%;
        bottom :10%;
        padding:10%;
        background: #aca3a3;
    }
}